*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;}
:root{
    --text-color : #4b4b4b;
    --bg-color:#f8f7f7;
    --main-color:#f29494;
    --second-color:#fff;
    --other-color: #868686;
    --big-font : 4.5rem;
    --p-font: 1rem;
}

body{
    background-color:var(--bg-color);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--second-color);
    align-items: center;
    box-shadow: rgba(22, 23, 26, 0.1) 0 10px 30px -10px;}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}
.icons{
    display: flex;
    align-items: center;
}
.icons i{
    padding:0.8rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .55s;
}
.icons i:hover{
    background-color: var(--bg-color);
}
.searchbox{
    margin:0rem 0.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
input{
    border: none;
    padding: 0;
    width: 0;
}
input:focus{
    border: none;
    outline: none;
}